version: "3.9"

services:
  backend:
    build: .
    container_name: employee_backend
    env_file:
      - .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  db:
    image: postgres:14
    container_name: postgres_db
    environment:
      POSTGRES_DB: employee_tracker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_cache

volumes:
  postgres_data:
